.container {
  position: relative;
  max-width: 70%;
  margin: 50px auto;
}

.bus {
  border-bottom: 1px solid #9a9a9a;
  display: inline-block;
  min-height: 52px;
  width: 100%;
}

.trip {
  border: 1px solid #404040;
  height: 30px;
  line-height: 30px;
  margin: 10px;
  text-align: center;
  width: 70px;
}
